<div class="col-md-12" >

	<p class="pull-right" ng-show="!transactions.isLoading">
		<a ui-sref="create-account" >Create Account</a>
	</p>

	<table class="table table-bordered" ng-show="!transactions.isLoading">

		<tr >
			<th class="col-1" >#</th >
			<th class="col-2" >Account Nickname</th >
			<th class="col-3" >Account Number</th >
			<th class="col-4" >Account Balance</th >
		</tr >

		<tr class="account-row" ng-repeat="item in accounts.assets track by $index"
				 ui-sref="transaction({accountId: item.id})">
			<td >
				{{item.id}}
			</td >
			<td >{{ item.account_nickname }}</td >
			<td >{{ item.account_number }}</td >
			<td >{{ item.balance | currency:"$"}}</td >
		</tr >


	</table >

	<div class="spinner"
	     ng-show="accounts.isLoading" >
		<span us-spinner="{radius:8, width:5, length: 3, lines:9}" ></span >

		<p >Loading...</p >
	</div >

</div >