<div class="form-group" >
	<label class="col-sm-4 control-label" >Account Type</label >
	<div class="col-sm-8" >
		<select
		 	ng-model="form.accountType"
		 	required>
			<option value="1" selected>Checking</option>
			<option value="2">Saving</option>
		</select>
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-4 control-label" >Account Nickname</label >
	<div class="col-sm-8" >
		<input type="text"
		       name="account_nickname"
		       class="form-control"
		       ng-model="form.accountNickname"
		       required />
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-4 control-label" >Balance</label >
	<div class="col-sm-8" >
		<input type="text"
		       class="form-control"
		       name="balance"
		       ng-model="form.accountBalance"
		       ng-pattern="/(\d+\.\d{2})/"
		       ng-pattern-err-type="currencyFormat"
		       required />
	</div >
</div>

					