<div class="col-md-8 col-md-offset-2" >
	<form class="form-horizontal" ng-submit="save()" novalidate>
		<div class="panel panel-default" >
			<div class="panel-heading" >
				Create Account
				<div class="pull-right" >
					<button class="btn btn-primary btn-sm"
					        ladda="accountService.isSaving"
					        type="submit" >
						<span>Save</span>
					</button >
				</div >
				<div class="clearfix" ></div >

			</div >
			<div class="panel-body" >

				<ng-include src="'templates/accountform.html'" ></ng-include >

			</div >
		</div >
	</form >
</div >