<div class="col-md-12">


	<div class="col-md-12" ng-show="!transactions.isLoading">
		<p>
			<h4 style="display: inline;">Account Name:</h4>
			<h4 style="display: inline;">{{ transactions.transactionList[0].account.account_nickname }}</h4>
		</p>
		<p>
			<h4 style="display: inline;">Current Balance:</h4>
			<h4 style="display: inline;">{{ transactions.transactionList[0].account.balance | currency: "$" }}</h4>
		</p>
		<p>
			<hr />
		</p>
		<p class="pull-right">
		<a ui-sref="create-transaction({accountId: transactions.accountParam})">Add Transaction</a>
	</p>
	</div>
	<div>
	<table class="table table-bordered" ng-show="!transactions.isLoading">

		<tr>
			<th class="col-1">#</th>
			<th class="col-4">Account Name</th>
			<th class="col-4">Transaction Type</th>
			<th class="col-4">Description</th>
			<th class="col-4">Amount</th>
			<th class="col-4">Comments</th>
			<th class="col-4">Transaction Status</th>
			<th class="col-4">Posting Date</th>
		</tr>

		<tr ng-repeat="item in transactions.transactionList track by $index">
			<td>{{ item.id }}</td>
			<td>{{ item.account.account_nickname }}</td>
			<td>{{ item.transaction_type.description }}</td>
			<td>{{ item.description }}</td>
			<td>{{ item.amount | currency:"$"}}</td>
			<td>{{ item.comments }}</td>
			<td>{{ item.transaction_status.description }}</td>
			<td>{{ item.posting_date }}</td>
		</tr>


	</table>

	<div class="spinner"
	     ng-show="transactions.isLoading">
		<span us-spinner="{radius:8, width:5, length: 3, lines:9}"></span>

		<p>Loading...</p>
	</div>

</div>