<div class="form-group" >
	<label class="col-sm-4 control-label" >Transaction Type</label >
	<div class="col-sm-8" >
		<select 
			ng-model="form.transactionType"
			required >
			<option value="1">Credit</option>
			<option value="2">Debit</option>
		</select>
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-4 control-label" >Transaction Status</label >
	<div class="col-sm-8" >
		<select
			ng-model="form.transactionStatus"
			required >
			<option value="1">Pending</option>
			<option value="2">Cleared</option>
		</select>
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-4 control-label" >Description</label >
	<div class="col-sm-8" >
		<input type="text"
		       class="form-control"
		       name="description"
		       ng-model="form.transactionDescription" 
		       required />
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-4 control-label" >Transaction Amount</label >
	<div class="col-sm-8" >
		<input type="text"
		       class="form-control"
		       name="amount"
		       ng-model="form.transactionAmount"
		       ng-pattern="/(\d+\.\d{2})/"
		       ng-pattern-err-type="currencyFormat" 
		       required />
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-4 control-label" >Comments</label >
	<div class="col-sm-8" >
		<input type="text"
		       name="comments"
		       class="form-control"
		       ng-model="form.transactionComments" />
	</div >

</div >
<div class="form-group" >
	<label class="col-sm-4 control-label">Posting Date</label >
	<div class="col-sm-8" >
		<input type="text"
		       name="postingDate"
		       class="form-control"
		       ng-model="form.transactionPostingDate"
		       bs-datepicker 
		       required />
	</div >
</div >

					